{
  "useTabs": false,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "overrides": [{ "files": ["*.json"], "options": { "tabWidth": 2 } }]
}
